   #bannerContainer {
                bottom: 0;
                width: 100%;
                overflow: hidden;
                background-image: linear-gradient(to right, #219ebc, #14213d);
                height: 110px;
            }

            #bannerSlider {
                display: flex;
                width: 300%;
                animation:  scrolling 40s linear infinite;
            }

            .banner {
                width: 33.33%;
                height: 100px;
                text-align: center;
                color: white;
                padding: 20px;
            }

            .banner:nth - child(1) {
                background-color: #007BFF;
            }

            .banner:nth - child(2) {
                background-color: #28a745;
            }

            .banner:nth - child(3) {
                background-color: #FFC107;
            }

            @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }