.card_container {
    border: 3px solid white;
    border-radius: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}