.product-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 550px);
}

.card {
  display: flex;
  flex-flow: column;
  width: 40%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

img {
  width: 230px;
}

.card-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}