.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}

.card {
  display: flex;
  flex-flow: column;
  width: 40%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  margin: 0 0 20px 25px;
  justify-content: center;
}

.link__to__shop{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-to-cart-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.add-to-cart-button:hover {
  background-color: #377c3a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
  width: 230px;
}

.card-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}