.reviews_container {
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.review_card {
    border: 2px solid #14213d;
    background-color: #e5e5e5;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem;
}

.image-container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
}

.review_card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

h4, h3 {
    font-style: italic;
}
