.reviews_container {
    background-color: #14213d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.review_card {
    border: 2px solid #14213d;
    background-color: #e5e5e5;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    width: 330px;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.review_card img {
    border-radius: 15px;
    margin-bottom: 12px;
}

h4, h3 {
    font-style: italic;
}
