body {
  background-color: lightgrey;
}

.cart_box {
  display: flex;
  border: 2px solid pink;
  border-radius: 15px;
  height: 35px;
  width: 80%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.item_amount_el {
    border: 5px solid purple;
}

.item_info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 5px solid white;
}